 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
.wrapper{
    margin: auto 5%;
}
.torrent{
  margin: auto 5%;
  /*margin-top: 20px;*/
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #673AB7;
}
.container-fluid .row h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*text-shadow: 2px 2px red;*/
  font-size: 60px;
}
.progress-bar{
  background-color: #3ADF00;
}

.jumbotron{
  background-color: #9E9E9E;
  text-align: center;
}

#dragSection h2{
  text-align: center;
}
.cuadrado{
  width: 230px;
  height: 220px;
  border-color: red;
  background-color: yellow;
}

.ocultar{
  display: none;
}

#songs_queue li{
  cursor:pointer;
  list-style: none;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  padding-bottom: 50px;
  border-top: solid 1px #000;
}
#audio{
    height: 10px;
    margin:0 0;
    width: 100%;
}

.barraProgresoAudio{
  height: 2px;
  width: 0;
  background-color: #000;
}

.fit-screen{
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}

.scrollable{
  overflow-y:scroll;
  overflow-x:hidden;
  height:90%;
  visibility: hidden;
}

.drop-img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-top: -150px; /* Half the height */
  margin-left: -150px;
}
#search{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255,255,255,0);
  color: #D1C4E9;
}
