.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.header {
  background-color: #536DFE;
  position: fixed;
  z-index: 999;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.inner {
  max-width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 5px;
  color: white;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: transparent;
    color: #616161;
}

.utility-button {
  float: right;
  vertical-align: middle;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.utility-button:focus + a,
.utility-button:hover {
    background-color: transparent;
    color: #616161;
}


.song-title {
  cursor: pointer;
  color: primary-text-color;
  display: inline-block;
}

.song-title:hover {
  color: #607D8B;
}

.song {
  /*border-bottom: 1px solid #212121;
  background-color: whithe /*#616161*/
}

.content {
  margin-top: 60px;
  margin-bottom: 60px;
}

.download-status{
  background-color: transparent;
  color: white;
  cursor: pointer;
  float: right;
}

.download-status:focus + a,
.download-status:hover {
    background-color: transparent;
    color: #616161;
}

.play-button {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.play-button:hover{
  color: #607D8B;
}


.song-container {
  text-align: left;
  display:table-cell;
}

.song:nth-child(even) {
  background-color: #ECEFF1;
}

.song:nth-child(odd) {
  background-color: #CFD8DC;
}
