 @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
 body{
  background-color: #757575;
  color: #BDBDBD;
}
.container-fluid{
  background-color: #1C1C1C;
  color: #6622a6;
}
.container-fluid .row h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*text-shadow: 2px 2px red;*/
  font-size: 60px;
}
.progress-bar{
  background-color: #3ADF00;
}

.cuadrado{
  width: 230px;
  height: 220px;
  border-color: red;
  background-color: yellow;
}

.ocultar{
  display: none;
}

#songs_queue li{
  cursor:pointer;
}
